<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/Chapter6_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package
import os

In [ ]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM2021_DATA'

Mounted at /content/drive

In [ ]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')  # โหลด data เข้ามา

In [ ]:
data #ดูว่าหน้าตาเป็นยังไง

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

#Besic Concepts

##K-itemsets
[Q] มีประเทศสาขาของ supermarket นี้ทั้งหมดกี่ประเทศ

In [ ]:
set(data['Country'])  # ดูว่ามีประเทศอะไรบ้าง

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [ ]:
len(set(data['Country']))  # ดูว่ามีทั้งหมดกี่ประเทศ

38

In [ ]:
data.sort_values(by=['InvoiceNo'])  # เรียงข้อมูลตาม InvoiceNo

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
540449   C581490     23144  ...    14397.0  United Kingdom
541541   C581499         M  ...    15498.0  United Kingdom
541715   C581568     21258  ...    15311.0  United Kingdom
541716   C581569     84978  ...    17315.0  United Kingdom
541717   C581569     20979  ...    17315.0  United Kingdom

[541909 rows x 8 columns]

In [ ]:
data[data['InvoiceNo'].str.contains('C')] # ดู InvoiceNo ที่มีตัว 'C'

       InvoiceNo StockCode  ... CustomerID         Country
141      C536379         D  ...    14527.0  United Kingdom
154      C536383    35004C  ...    15311.0  United Kingdom
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
...          ...       ...  ...        ...             ...
540449   C581490     23144  ...    14397.0  United Kingdom
541541   C581499         M  ...    15498.0  United Kingdom
541715   C581568     21258  ...    15311.0  United Kingdom
541716   C581569     84978  ...    17315.0  United Kingdom
541717   C581569     20979  ...    17315.0  United Kingdom

[9288 rows x 8 columns]

In [ ]:
data[data['InvoiceNo'].str.contains('536391')]

    InvoiceNo StockCode  ... CustomerID         Country
235   C536391     22556  ...    17548.0  United Kingdom
236   C536391     21984  ...    17548.0  United Kingdom
237   C536391     21983  ...    17548.0  United Kingdom
238   C536391     21980  ...    17548.0  United Kingdom
239   C536391     21484  ...    17548.0  United Kingdom
240   C536391     22557  ...    17548.0  United Kingdom
241   C536391     22553  ...    17548.0  United Kingdom

[7 rows x 8 columns]

In [ ]:
data[data['CustomerID']==17548]

       InvoiceNo StockCode  ... CustomerID         Country
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
238      C536391     21980  ...    17548.0  United Kingdom
239      C536391     21484  ...    17548.0  United Kingdom
240      C536391     22557  ...    17548.0  United Kingdom
241      C536391     22553  ...    17548.0  United Kingdom
165024    550755     22585  ...    17548.0  United Kingdom
165025    550755     22082  ...    17548.0  United Kingdom
165026    550755     22081  ...    17548.0  United Kingdom
165027    550755     22079  ...    17548.0  United Kingdom
165028    550755     22926  ...    17548.0  United Kingdom
177223   C552049     22926  ...    17548.0  United Kingdom
177224   C552049     22585  ...    17548.0  United Kingdom
177225   C552049     22082  ...    17548.0  United Kingdom
177226   C552049     22081  ...    17548.0  United Kingdom
177227   C552049     22079  ...    17548.0  United Kingdom

[17 rows x 8 columns]

##ลบ records ที่ถูก cancel ออกไป

In [ ]:
data_clean = data[data['Quantity']>=1]  # เลือกเอาข้อมูลที่ Quantity มากกว่าหรือเท่ากับ 1
data_clean

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[531285 rows x 8 columns]

##Plot graph of Itemsets

### [HW13] วาดกราฟสรุปจำนวน items และ ยอดขายของแต่ละประเทศ

เพิ่ม column ราคารวม

In [ ]:
data_clean['total']=data_clean['Quantity']*data_clean['UnitPrice']
data_clean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       InvoiceNo StockCode  ...         Country  total
0         536365    85123A  ...  United Kingdom  15.30
1         536365     71053  ...  United Kingdom  20.34
2         536365    84406B  ...  United Kingdom  22.00
3         536365    84029G  ...  United Kingdom  20.34
4         536365    84029E  ...  United Kingdom  20.34
...          ...       ...  ...             ...    ...
541904    581587     22613  ...          France  10.20
541905    581587     22899  ...          France  12.60
541906    581587     23254  ...          France  16.60
541907    581587     23255  ...          France  16.60
541908    581587     22138  ...          France  14.85

[531285 rows x 9 columns]

In [ ]:
data_clean.groupby(['Country']).sum() ### จัดกลุ่ม ด้วย 'Country' และ sum ยอดขาย

                      Quantity     UnitPrice    CustomerID         total
Country
Australia                84209  3.612500e+03  1.475853e+07  1.385213e+05
Austria                   4881  1.693900e+03  4.982601e+06  1.019868e+04
Bahrain                    314  8.276000e+01  2.100270e+05  7.541400e+02
Belgium                  23237  7.372850e+03  2.524670e+07  4.119634e+04
Brazil                     356  1.426000e+02  4.086080e+05  1.143600e+03
Canada                    2763  9.105800e+02  2.615483e+06  3.666380e+03
Channel Islands           9491  3.389650e+03  1.113834e+07  2.045044e+04
Cyprus                    6361  3.506180e+03  7.616904e+06  1.359038e+04
Czech Republic             671  7.827000e+01  3.195250e+05  8.267400e+02
Denmark                   8235  1.195550e+03  4.757518e+06  1.895534e+04
EIRE                    147447  3.848995e+04  1.067247e+08  2.834540e+05
European Community         499  2.898000e+02  9.064800e+05  1.300250e+03
Finland                  10704  3.628440e+03  8.574309e+06  2.254608e+04
France                  112104  3.699279e+04  1.057630e+08  2.097151e+05
Germany                 119263  3.353214e+04  1.143723e+08  2.288671e+05
Greece                    1557  6.632900e+02  1.995867e+06  4.760520e+03
Hong Kong                 4773  6.666740e+03  0.000000e+00  1.569180e+04
Iceland                   2458  4.812100e+02  2.247154e+06  4.310000e+03
Israel                    4409  1.070980e+03  3.139135e+06  8.135260e+03
Italy                     8112  3.576210e+03  9.588028e+06  1.748324e+04
Japan                    26016  6.572100e+02  4.095425e+06  3.741637e+04
Lebanon                    386  2.424400e+02  5.743800e+05  1.693880e+03
Lithuania                  652  9.944000e+01  5.366200e+05  1.661060e+03
Malta                      970  5.451900e+02  1.891076e+06  2.725590e+03
Netherlands             200937  6.247730e+03  3.407895e+07  2.854463e+05
Norway                   19338  5.662470e+03  1.333461e+07  3.616544e+04
Poland                    3684  1.377210e+03  4.201606e+06  7.334650e+03
Portugal                 16258  8.770720e+03  1.863478e+07  3.374710e+04
RSA                        352  2.481000e+02  7.218680e+05  1.002310e+03
Saudi Arabia                80  2.116000e+01  1.130850e+05  1.459200e+02
Singapore                 5241  1.294999e+04  2.829168e+06  2.127929e+04
Spain                    27951  9.504340e+03  3.208028e+07  6.157711e+04
Sweden                   36083  1.695790e+03  6.637579e+06  3.837833e+04
Switzerland              30630  6.634360e+03  2.332474e+07  5.708990e+04
USA                       2458  4.133000e+02  2.260641e+06  3.580390e+03
United Arab Emirates       982  2.298900e+02  1.018952e+06  1.902280e+03
United Kingdom         4733819  1.845444e+06  5.510928e+09  9.003098e+06
Unspecified               3300  1.204010e+03  3.348046e+06  4.749790e+03

In [ ]:
data_clean[data_clean['InvoiceNo'].str.contains('A')]

       InvoiceNo StockCode  ...         Country     total
299982   A563185         B  ...  United Kingdom  11062.06
299983   A563186         B  ...  United Kingdom -11062.06
299984   A563187         B  ...  United Kingdom -11062.06

[3 rows x 9 columns]

##Frequence Itemsets to Association Rule

###เตรียม data สำหรับ (Fequence Pattern) Asdosiation Rule

In [ ]:
transactions = data_clean.groupby('InvoiceNo')['StockCode'].apply(list)

#Efficient Pattern Mining Methods

##Apriori

http://zaxrosenberg.com/unofficial-apyori-documentation/

In [ ]:
!pip install apyori # install library

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

##Support
Support คือ จำนวน transactions ทั้งหมดที่เราสนใจอยู่ (% ใน itemsets)

In [ ]:
from apyori import apriori # หลังจากที่ install package เรียบร้อยแล้วจะสามารถเรียกใช้งานได้

In [ ]:
frequentItemsets = list(apriori(transactions,min_support = 0.1)) # อย่างน้อย 10 % ของ record ทั้งหมด
frequentItemsets

[RelationRecord(items=frozenset({'85099B'}), support=0.10092628328830568, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.10092628328830568, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.10628135854882285, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.10628135854882285, lift=1.0)])]

In [ ]:
frequentItemsets = list(apriori(transactions,min_support = 0.035)) # ยิ่งลด support จะได้ Rule ออกมาเยอะมากขึ้น
frequentItemsets

[RelationRecord(items=frozenset({'20712'}), support=0.041634504052489384, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20712'}), confidence=0.041634504052489384, lift=1.0)]),
 RelationRecord(items=frozenset({'20719'}), support=0.040283674257043614, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20719'}), confidence=0.040283674257043614, lift=1.0)]),
 RelationRecord(items=frozenset({'20724'}), support=0.04988421458896179, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20724'}), confidence=0.04988421458896179, lift=1.0)]),
 RelationRecord(items=frozenset({'20725'}), support=0.07550173678116558, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20725'}), confidence=0.07550173678116558, lift=1.0)]),
 RelationRecord(items=frozenset({'20726'}), support=0.04911231184870706, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20726'}), confidence=0.04911231184870706, lift=1.0)]),
 RelationRecord(items=frozenset({'20727'}), support=0.061414511771516786, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20727'}), confidence=0.061414511771516786, lift=1.0)]),
 RelationRecord(items=frozenset({'20728'}), support=0.05548050945580857, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20728'}), confidence=0.05548050945580857, lift=1.0)]),
 RelationRecord(items=frozenset({'20914'}), support=0.042454650714010035, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20914'}), confidence=0.042454650714010035, lift=1.0)]),
 RelationRecord(items=frozenset({'21034'}), support=0.04202045542261675, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21034'}), confidence=0.04202045542261675, lift=1.0)]),
 RelationRecord(items=frozenset({'21080'}), support=0.04756850636819761, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21080'}), confidence=0.04756850636819761, lift=1.0)]),
 RelationRecord(items=frozenset({'21175'}), support=0.03902933230412968, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21175'}), confidence=0.03902933230412968, lift=1.0)]),
 RelationRecord(items=frozenset({'21181'}), support=0.041007333076032416, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21181'}), confidence=0.041007333076032416, lift=1.0)]),
 RelationRecord(items=frozenset({'21212'}), support=0.06368197607101506, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21212'}), confidence=0.06368197607101506, lift=1.0)]),
 RelationRecord(items=frozenset({'21232'}), support=0.04009069857197993, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21232'}), confidence=0.04009069857197993, lift=1.0)]),
 RelationRecord(items=frozenset({'21731'}), support=0.0409590891547665, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21731'}), confidence=0.0409590891547665, lift=1.0)]),
 RelationRecord(items=frozenset({'21733'}), support=0.03574874565804709, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21733'}), confidence=0.03574874565804709, lift=1.0)]),
 RelationRecord(items=frozenset({'21754'}), support=0.037485526823620226, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21754'}), confidence=0.037485526823620226, lift=1.0)]),
 RelationRecord(items=frozenset({'21790'}), support=0.04467387109224238, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21790'}), confidence=0.04467387109224238, lift=1.0)]),
 RelationRecord(items=frozenset({'21928'}), support=0.038884600540331916, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21928'}), confidence=0.038884600540331916, lift=1.0)]),
 RelationRecord(items=frozenset({'21929'}), support=0.041730991895021226, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21929'}), confidence=0.041730991895021226, lift=1.0)]),
 RelationRecord(items=frozenset({'21931'}), support=0.057120802778849865, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21931'}), confidence=0.057120802778849865, lift=1.0)]),
 RelationRecord(items=frozenset({'21977'}), support=0.04192396758008491, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21977'}), confidence=0.04192396758008491, lift=1.0)]),
 RelationRecord(items=frozenset({'22077'}), support=0.046072944808954075, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22077'}), confidence=0.046072944808954075, lift=1.0)]),
 RelationRecord(items=frozenset({'22086'}), support=0.05596294866846777, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086'}), confidence=0.05596294866846777, lift=1.0)]),
 RelationRecord(items=frozenset({'22090'}), support=0.038546893091470476, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22090'}), confidence=0.038546893091470476, lift=1.0)]),
 RelationRecord(items=frozenset({'22111'}), support=0.0371960632960247, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22111'}), confidence=0.0371960632960247, lift=1.0)]),
 RelationRecord(items=frozenset({'22112'}), support=0.041393284446159785, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22112'}), confidence=0.041393284446159785, lift=1.0)]),
 RelationRecord(items=frozenset({'22138'}), support=0.04505982246236974, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22138'}), confidence=0.04505982246236974, lift=1.0)]),
 RelationRecord(items=frozenset({'22139'}), support=0.0466036279428792, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22139'}), confidence=0.0466036279428792, lift=1.0)]),
 RelationRecord(items=frozenset({'22178'}), support=0.050028946352759555, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22178'}), confidence=0.050028946352759555, lift=1.0)]),
 RelationRecord(items=frozenset({'22197'}), support=0.06715553840216133, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22197'}), confidence=0.06715553840216133, lift=1.0)]),
 RelationRecord(items=frozenset({'22326'}), support=0.035314550366653805, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22326'}), confidence=0.035314550366653805, lift=1.0)]),
 RelationRecord(items=frozenset({'22355'}), support=0.0425993824778078, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22355'}), confidence=0.0425993824778078, lift=1.0)]),
 RelationRecord(items=frozenset({'22356'}), support=0.03584523350057893, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22356'}), confidence=0.03584523350057893, lift=1.0)]),
 RelationRecord(items=frozenset({'22379'}), support=0.03608645310690853, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22379'}), confidence=0.03608645310690853, lift=1.0)]),
 RelationRecord(items=frozenset({'22382'}), support=0.05581821690467001, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22382'}), confidence=0.05581821690467001, lift=1.0)]),
 RelationRecord(items=frozenset({'22383'}), support=0.06199343882670783, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22383'}), confidence=0.06199343882670783, lift=1.0)]),
 RelationRecord(items=frozenset({'22384'}), support=0.05258587417985334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22384'}), confidence=0.05258587417985334, lift=1.0)]),
 RelationRecord(items=frozenset({'22386'}), support=0.05876109610189116, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386'}), confidence=0.05876109610189116, lift=1.0)]),
 RelationRecord(items=frozenset({'22411'}), support=0.05668660748745658, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22411'}), confidence=0.05668660748745658, lift=1.0)]),
 RelationRecord(items=frozenset({'22423'}), support=0.09595715939791587, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.09595715939791587, lift=1.0)]),
 RelationRecord(items=frozenset({'22457'}), support=0.060256657661134694, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22457'}), confidence=0.060256657661134694, lift=1.0)]),
 RelationRecord(items=frozenset({'22469'}), support=0.05798919336163643, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22469'}), confidence=0.05798919336163643, lift=1.0)]),
 RelationRecord(items=frozenset({'22470'}), support=0.0447221150135083, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22470'}), confidence=0.0447221150135083, lift=1.0)]),
 RelationRecord(items=frozenset({'22558'}), support=0.03724430721729062, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22558'}), confidence=0.03724430721729062, lift=1.0)]),
 RelationRecord(items=frozenset({'22629'}), support=0.04341952913932844, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22629'}), confidence=0.04341952913932844, lift=1.0)]),
 RelationRecord(items=frozenset({'22630'}), support=0.041007333076032416, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22630'}), confidence=0.041007333076032416, lift=1.0)]),
 RelationRecord(items=frozenset({'22666'}), support=0.053888460054033194, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22666'}), confidence=0.053888460054033194, lift=1.0)]),
 RelationRecord(items=frozenset({'22697'}), support=0.0489675800849093, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697'}), confidence=0.0489675800849093, lift=1.0)]),
 RelationRecord(items=frozenset({'22698'}), support=0.0369548436896951, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22698'}), confidence=0.0369548436896951, lift=1.0)]),
 RelationRecord(items=frozenset({'22699'}), support=0.051428020069471246, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22699'}), confidence=0.051428020069471246, lift=1.0)]),
 RelationRecord(items=frozenset({'22720'}), support=0.06691431879583172, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22720'}), confidence=0.06691431879583172, lift=1.0)]),
 RelationRecord(items=frozenset({'22722'}), support=0.040283674257043614, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22722'}), confidence=0.040283674257043614, lift=1.0)]),
 RelationRecord(items=frozenset({'22726'}), support=0.047327286761868, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22726'}), confidence=0.047327286761868, lift=1.0)]),
 RelationRecord(items=frozenset({'22727'}), support=0.05070436125048244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22727'}), confidence=0.05070436125048244, lift=1.0)]),
 RelationRecord(items=frozenset({'22728'}), support=0.037774990351215745, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22728'}), confidence=0.037774990351215745, lift=1.0)]),
 RelationRecord(items=frozenset({'22910'}), support=0.039560015438054805, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22910'}), confidence=0.039560015438054805, lift=1.0)]),
 RelationRecord(items=frozenset({'22960'}), support=0.05466036279428792, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22960'}), confidence=0.05466036279428792, lift=1.0)]),
 RelationRecord(items=frozenset({'22961'}), support=0.056059436510999615, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22961'}), confidence=0.056059436510999615, lift=1.0)]),
 RelationRecord(items=frozenset({'22993'}), support=0.05176572751833269, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22993'}), confidence=0.05176572751833269, lift=1.0)]),
 RelationRecord(items=frozenset({'23084'}), support=0.04858162871478194, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23084'}), confidence=0.04858162871478194, lift=1.0)]),
 RelationRecord(items=frozenset({'23199'}), support=0.047182554998070246, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23199'}), confidence=0.047182554998070246, lift=1.0)]),
 RelationRecord(items=frozenset({'23201'}), support=0.04370899266692397, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23201'}), confidence=0.04370899266692397, lift=1.0)]),
 RelationRecord(items=frozenset({'23202'}), support=0.042454650714010035, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23202'}), confidence=0.042454650714010035, lift=1.0)]),
 RelationRecord(items=frozenset({'23203'}), support=0.05943651099961405, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23203'}), confidence=0.05943651099961405, lift=1.0)]),
 RelationRecord(items=frozenset({'23206'}), support=0.049980702431493634, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23206'}), confidence=0.049980702431493634, lift=1.0)]),
 RelationRecord(items=frozenset({'23207'}), support=0.035700501736781166, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23207'}), confidence=0.035700501736781166, lift=1.0)]),
 RelationRecord(items=frozenset({'23209'}), support=0.05302006947124662, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23209'}), confidence=0.05302006947124662, lift=1.0)]),
 RelationRecord(items=frozenset({'23245'}), support=0.042116943265148594, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23245'}), confidence=0.042116943265148594, lift=1.0)]),
 RelationRecord(items=frozenset({'23284'}), support=0.035266306445387884, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23284'}), confidence=0.035266306445387884, lift=1.0)]),
 RelationRecord(items=frozenset({'23298'}), support=0.055335777692010805, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23298'}), confidence=0.055335777692010805, lift=1.0)]),
 RelationRecord(items=frozenset({'23300'}), support=0.03656889231956773, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23300'}), confidence=0.03656889231956773, lift=1.0)]),
 RelationRecord(items=frozenset({'23301'}), support=0.04404670011578541, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23301'}), confidence=0.04404670011578541, lift=1.0)]),
 RelationRecord(items=frozenset({'23355'}), support=0.037726746429949824, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23355'}), confidence=0.037726746429949824, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.08133925125434195, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.08133925125434195, lift=1.0)]),
 RelationRecord(items=frozenset({'82482'}), support=0.05306831339251254, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'82482'}), confidence=0.05306831339251254, lift=1.0)]),
 RelationRecord(items=frozenset({'82494L'}), support=0.04395021227325357, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'82494L'}), confidence=0.04395021227325357, lift=1.0)]),
 RelationRecord(items=frozenset({'84879'}), support=0.07019490544191431, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'84879'}), confidence=0.07019490544191431, lift=1.0)]),
 RelationRecord(items=frozenset({'84946'}), support=0.04366074874565805, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'84946'}), confidence=0.04366074874565805, lift=1.0)]),
 RelationRecord(items=frozenset({'84978'}), support=0.03512157468159012, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'84978'}), confidence=0.03512157468159012, lift=1.0)]),
 RelationRecord(items=frozenset({'84991'}), support=0.039945966808182166, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'84991'}), confidence=0.039945966808182166, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.10092628328830568, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.10092628328830568, lift=1.0)]),
 RelationRecord(items=frozenset({'85099C'}), support=0.04501157854110382, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099C'}), confidence=0.04501157854110382, lift=1.0)]),
 RelationRecord(items=frozenset({'85099F'}), support=0.03936703975299112, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099F'}), confidence=0.03936703975299112, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.10628135854882285, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.10628135854882285, lift=1.0)]),
 RelationRecord(items=frozenset({'POST'}), support=0.05451563103049016, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'POST'}), confidence=0.05451563103049016, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B', '22386'}), support=0.03980123504438441, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B', '22386'}), confidence=0.03980123504438441, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6773399014778325, lift=6.711233976019365), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39435946462715105, lift=6.711233976019366)]),
 RelationRecord(items=frozenset({'22697', '22699'}), support=0.037051331532226936, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.037051331532226936, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7566502463054187, lift=14.71280141221268), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7204502814258911, lift=14.71280141221268)])]

In [ ]:
frequentItemsets[-1] # มีคนซื้อพร้อมๆกัน

RelationRecord(items=frozenset({'22697', '22699'}), support=0.037051331532226936, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.037051331532226936, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7566502463054187, lift=14.71280141221268), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7204502814258911, lift=14.71280141221268)])

In [ ]:
data_clean[data_clean['StockCode']=='22697']  # ดูว่า 22697 คือสินค้าอะไร

       InvoiceNo StockCode  ...         Country  total
1086      536524     22697  ...  United Kingdom  17.70
1644      536544     22697  ...  United Kingdom  35.46
2793      536592     22697  ...  United Kingdom  17.73
3357      536623     22697  ...  United Kingdom  35.40
3422      536627     22697  ...  United Kingdom  35.40
...          ...       ...  ...             ...    ...
539148    581433     22697  ...            EIRE  17.70
540215    581472     22697  ...  United Kingdom  35.40
540985    581492     22697  ...  United Kingdom   5.79
541220    581495     22697  ...  United Kingdom  35.40
541449    581498     22697  ...  United Kingdom  34.74

[1043 rows x 9 columns]

In [ ]:
data_clean[data_clean['StockCode']=='22699'] # ดูว่า 22699 คือสินค้าอะไร

       InvoiceNo StockCode  ...         Country  total
1077      536523     22699  ...  United Kingdom  17.70
1193      536530     22699  ...  United Kingdom  11.80
1645      536544     22699  ...  United Kingdom  11.82
2794      536592     22699  ...  United Kingdom  23.64
3397      536624     22699  ...  United Kingdom  17.70
...          ...       ...  ...             ...    ...
539671    581439     22699  ...  United Kingdom  34.74
540213    581472     22699  ...  United Kingdom  35.40
540986    581492     22699  ...  United Kingdom  11.58
541218    581495     22699  ...  United Kingdom  35.40
541451    581498     22699  ...  United Kingdom  34.74

[1084 rows x 9 columns]

#(Quiz7) หา k-itemset ที่มีความน่าสนใจ (โดยพิจารณาลูกค้าเป็นรายคน) พร้อมทั้งอธิบายว่าน่าสนใจยังไง ส่งก่อน 11.25

In [ ]:
transactions_1 = data_clean.groupby('CustomerID')['StockCode'].apply(list)
transactions_1

CustomerID
12346.0                                              [23166]
12347.0    [85116, 22375, 71477, 22492, 22771, 22772, 227...
12348.0    [84992, 22951, 84991, 84991, 21213, 21213, 226...
12349.0    [23112, 23460, 21564, 21411, 21563, 22131, 221...
12350.0    [21908, 22412, 79066K, 79191C, 22348, 84086C, ...
                                 ...
18280.0    [82484, 22180, 22467, 22725, 22727, 22495, 223...
18281.0    [22037, 22716, 22028, 23007, 23008, 23209, 22467]
18282.0    [21270, 23187, 23295, 22089, 21108, 21109, 224...
18283.0    [22356, 20726, 22384, 22386, 20717, 20718, 850...
18287.0    [22755, 22754, 22753, 22756, 22758, 22757, 227...
Name: StockCode, Length: 4339, dtype: object

In [ ]:
frequenceItemset = list(apriori(transactions_1,min_support = 0.1))  # ยิ่งลด support จะได้ Rule ออกมาเยอะมากขึ้น
frequenceItemset

[RelationRecord(items=frozenset({'20725'}), support=0.12260889605899977, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20725'}), confidence=0.12260889605899977, lift=1.0)]),
 RelationRecord(items=frozenset({'20727'}), support=0.10555427517861259, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20727'}), confidence=0.10555427517861259, lift=1.0)]),
 RelationRecord(items=frozenset({'20728'}), support=0.11039410002304678, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20728'}), confidence=0.11039410002304678, lift=1.0)]),
 RelationRecord(items=frozenset({'21034'}), support=0.11062456787278174, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21034'}), confidence=0.11062456787278174, lift=1.0)]),
 RelationRecord(items=frozenset({'21212'}), support=0.14634708458170084, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21212'}), confidence=0.14634708458170084, lift=1.0)]),
 RelationRecord(items=frozenset({'21790'}), support=0.10348006453099792, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21790'}), confidence=0.10348006453099792, lift=1.0)]),
 RelationRecord(items=frozenset({'22086'}), support=0.1412767918875317, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086'}), confidence=0.1412767918875317, lift=1.0)]),
 RelationRecord(items=frozenset({'22138'}), support=0.13390182069601292, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22138'}), confidence=0.13390182069601292, lift=1.0)]),
 RelationRecord(items=frozenset({'22139'}), support=0.11246831067066144, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22139'}), confidence=0.11246831067066144, lift=1.0)]),
 RelationRecord(items=frozenset({'22382'}), support=0.11292924637013137, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22382'}), confidence=0.11292924637013137, lift=1.0)]),
 RelationRecord(items=frozenset({'22383'}), support=0.1000230467849735, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22383'}), confidence=0.1000230467849735, lift=1.0)]),
 RelationRecord(items=frozenset({'22384'}), support=0.10232772528232312, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22384'}), confidence=0.10232772528232312, lift=1.0)]),
 RelationRecord(items=frozenset({'22423'}), support=0.2030421756165015, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.2030421756165015, lift=1.0)]),
 RelationRecord(items=frozenset({'22457'}), support=0.13528462779442268, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22457'}), confidence=0.13528462779442268, lift=1.0)]),
 RelationRecord(items=frozenset({'22469'}), support=0.1320580778981332, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22469'}), confidence=0.1320580778981332, lift=1.0)]),
 RelationRecord(items=frozenset({'22470'}), support=0.11177690712145656, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22470'}), confidence=0.11177690712145656, lift=1.0)]),
 RelationRecord(items=frozenset({'22666'}), support=0.1085503572251671, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22666'}), confidence=0.1085503572251671, lift=1.0)]),
 RelationRecord(items=frozenset({'22720'}), support=0.14749942383037568, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22720'}), confidence=0.14749942383037568, lift=1.0)]),
 RelationRecord(items=frozenset({'22910'}), support=0.10831988937543213, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22910'}), confidence=0.10831988937543213, lift=1.0)]),
 RelationRecord(items=frozenset({'22960'}), support=0.1320580778981332, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22960'}), confidence=0.1320580778981332, lift=1.0)]),
 RelationRecord(items=frozenset({'22961'}), support=0.12376123530767458, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22961'}), confidence=0.12376123530767458, lift=1.0)]),
 RelationRecord(items=frozenset({'23084'}), support=0.10371053238073288, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23084'}), confidence=0.10371053238073288, lift=1.0)]),
 RelationRecord(items=frozenset({'23203'}), support=0.1163862641161558, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23203'}), confidence=0.1163862641161558, lift=1.0)]),
 RelationRecord(items=frozenset({'23209'}), support=0.10808942152569717, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23209'}), confidence=0.10808942152569717, lift=1.0)]),
 RelationRecord(items=frozenset({'23245'}), support=0.10878082507490205, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23245'}), confidence=0.10878082507490205, lift=1.0)]),
 RelationRecord(items=frozenset({'23298'}), support=0.1320580778981332, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23298'}), confidence=0.1320580778981332, lift=1.0)]),
 RelationRecord(items=frozenset({'23355'}), support=0.10924176077437198, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'23355'}), confidence=0.10924176077437198, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.16317123761235308, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.16317123761235308, lift=1.0)]),
 RelationRecord(items=frozenset({'84879'}), support=0.15625720212030422, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'84879'}), confidence=0.15625720212030422, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.14634708458170084, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.14634708458170084, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.19728047937312745, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.19728047937312745, lift=1.0)])]

In [ ]:
frequenceItemset[-1]

RelationRecord(items=frozenset({'85123A'}), support=0.19728047937312745, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.19728047937312745, lift=1.0)])