<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdowm

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า Dataframe

In [2]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [3]:
import pandas as pd # เหมือนข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [14]:
data_df = pd.read_csv('data.csv') # ใช้เรียก ไฟล์ data.csv แทนในตัวแปร data_df

In [15]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [16]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [17]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [18]:
variable_a

12

In [19]:
variable_b

'abcde'

In [20]:
variable_c

12

In [27]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [28]:
# (พยายาม)ใช้ภาษาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [29]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
V_a = 2 
print(v_a)
print(V_a)

1
2

In [30]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
v_a = 2 
print(v_a)
print(v_a)

2
2

In [31]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [32]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [33]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1 
print(variable1)

1

In [39]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # "   เรียกว่า double quote

In [38]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [40]:
variable_a + variable_b

TypeError: ignored

In [41]:
print(variable_b + variable_4)

abcdeKKU

#Casting
## Casting int() float() str()

In [42]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [43]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [44]:
V_X + variable_a

TypeError: ignored

In [45]:
variable_a + V_X

TypeError: ignored

In [46]:
V_X

'-29.200000000000003'

In [47]:
float(V_X)

-29.200000000000003

#Data Structure
##list()

In [48]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [51]:
list_a # ลำดับมีความสำคัญ

[1, 2, 0.2, 'abs']

In [52]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [53]:
len(list_b)

4

In [54]:
list_b[3]

[1, 2, 0.0]

In [55]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [56]:
a = 'Stat KKU'

In [57]:
a[4]

' '

##วิธีการสร้า list ว่าง

In [59]:
list_c = list() # แบบที่ 1
list_d = []     # แบบที่ 2

In [60]:
list_c

[]

In [61]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [69]:
list_d.append('a')

In [70]:
list_d

['a', '56', 56, 'a']

In [71]:
list_d.append(56)

In [72]:
list_d

['a', '56', 56, 'a', 56]

###การชึ้ต่าใน list (indexing)

1. ใช้ลำดับเลขในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [73]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [75]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [77]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง] -> [ตัวหน้ามตัวหลัง)

In [78]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [79]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [80]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [83]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [84]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [86]:
a

'Stat KKU'

In [87]:
a[5:]

'KKU'

In [88]:
a[-3:]

'KKU'

In [89]:
a[5:8]

'KKU'

##list + list

In [90]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [91]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [97]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

#Loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [98]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [99]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [100]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [101]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [103]:
for i in range(2,7,2):
  print(i)

2
4
6

In [104]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [105]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i = {i} x = {x}')

hahaha
i = 0 x = 3
hahaha
i = 1 x = 4
hahaha
i = 2 x = 5
hahaha
i = 3 x = 6
hahaha
i = 4 x = 7

##Nested loop

In [109]:
for i in range(3):
  print(f'now i = {i}')
  print(f'start j loop')
  for j in range(4):
       print(f'i = {i} j = {j} i + j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i + j = 0
i = 0 j = 1 i + j = 1
i = 0 j = 2 i + j = 2
i = 0 j = 3 i + j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i + j = 1
i = 1 j = 1 i + j = 2
i = 1 j = 2 i + j = 3
i = 1 j = 3 i + j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i + j = 2
i = 2 j = 1 i + j = 3
i = 2 j = 2 i + j = 4
i = 2 j = 3 i + j = 5
end j loop

#Condition

#Function