<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdowm

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า Dataframe

In [ ]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv') # ใช้เรียก ไฟล์ data.csv แทนในตัวแปร data_df

In [ ]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
# (พยายาม)ใช้ภาษาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
V_a = 2 
print(v_a)
print(V_a)

1
2

In [ ]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
v_a = 2 
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1 
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # "   เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

#Casting
## Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + V_X

TypeError: ignored

In [ ]:
V_X

In [ ]:
float(V_X)

#Data Structure
##list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a # ลำดับมีความสำคัญ

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

##วิธีการสร้าง list ว่าง

In [ ]:
list_c = list() # แบบที่ 1
list_d = []     # แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

##การชึ้ต่าใน list (indexing)

1. ใช้ลำดับเลขในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

## list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง] -> [ตัวหน้ามตัวหลัง)

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5:]

'KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
a[5:8]

'KKU'

##list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

#Loop

การทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent
```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in_loop
    do another thing #in_loop

do other things#out side loop
```

In [ ]:
 for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
  print(i)

2
4
6

In [ ]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i = {i} x = {x}')

hahaha
i = 0 x = 3
hahaha
i = 1 x = 4
hahaha
i = 2 x = 5
hahaha
i = 3 x = 6
hahaha
i = 4 x = 7

##Nested loop

In [ ]:
for i in range(3):
  print(f'now i = {i}')
  print(f'start j loop')
  for j in range(4):
       print(f'i = {i} j = {j} i + j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i + j = 0
i = 0 j = 1 i + j = 1
i = 0 j = 2 i + j = 2
i = 0 j = 3 i + j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i + j = 1
i = 1 j = 1 i + j = 2
i = 1 j = 2 i + j = 3
i = 1 j = 3 i + j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i + j = 2
i = 2 j = 1 i + j = 3
i = 2 j = 2 i + j = 4
i = 2 j = 3 i + j = 5
end j loop

#Condition (if statement)



```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [ ]:
stringx = 'hsgfhjsgfdgvsghfuyffhdrujkytdfghjgfhdgchj'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 Characters')

hsgfhjsgfdgvsghfuyffhdrujkytdfghjgfhdgchj is longer than 30 Characters

In [ ]:
stringx = 'hsgfhjsgfdgvsghfghjgfhdgchj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 Characters')

```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขด้านบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [ ]:
stringx = 'hsgfhjsgfdgvsghfghjgfhdgchj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 Characters')
else: 
  print(f'{stringx} is {len(stringx)} Characters long')

hsgfhjsgfdgvsghfghjgfhdgchj is 27 Characters long

```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขด้านบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [ ]:
password = '12345'

input_pass = '123'
if input_pass == password:
   print('Welcome!')
elif len(input_pass) > len(password):
   print('Too long, try again!')
elif len(input_pass) < len(password):
   print('Too short, try again!')
else:
   print('Wrong password, try again!')

Too short, try again!

#Quiz 1 หา Min

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [ ]:
if list_ex[i] < list_ex[j]:
    print(f'Min is {list_ex[i]}')
else:
    print(f'Min is {list_ex[j]}')

Min is -19

#เฉลย

In [ ]:
min = 10000000

for i in list_ex:
  if i < min:
    min = i 
print(min)

-19

In [ ]:
min = 10000000
print(list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min}')
  if i < min:
    print(f'i<min, update min -> {i}')
    min = i 
  else:
    print('not update')
  print('end condition, go to nexy i')
print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 10000000
i<min, update min -> 1
end condition, go to nexy i
now i = 5, min = 1
not update
end condition, go to nexy i
now i = 9, min = 1
not update
end condition, go to nexy i
now i = -19, min = 1
i<min, update min -> -19
end condition, go to nexy i
now i = -2, min = -19
not update
end condition, go to nexy i
now i = 0, min = -19
not update
end condition, go to nexy i
-19

#HW3 ตัดเกรด

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [ ]:
print(score)
for i in score:
    if i >= 80:
        print (f'Score is   {i}   Grade  A')
    elif i >= 75:
        print (f'Score is   {i}   Grade  B+')
    elif i >= 70:
        print (f'Score is   {i}   Grade  B')
    elif i >= 65:
        print (f'Score is   {i}   Grade  C+')
    elif  i >= 60:
        print (f'Score is   {i}   Grade  C')
    elif  i >= 55:
        print (f'Score is   {i}   Grade  D+')
    elif  i >= 50:
        print (f'Score is   {i}   Grade  D')
    else:
        print (f'Score is   {i}   Grade  F')

[49, 65, 70, 95, 82, 55, 89, 20, 77, 77, 81, 59, 10]
Score is   49   Grad  F
Score is   65   Grad  C+
Score is   70   Grad  B
Score is   95   Grad  A
Score is   82   Grad  A
Score is   55   Grad  D+
Score is   89   Grad  A
Score is   20   Grad  F
Score is   77   Grad  B+
Score is   77   Grad  B+
Score is   81   Grad  A
Score is   59   Grad  D+
Score is   10   Grad  F

#Function

```python
def ชื่อฟังก์ชัน(input1,input2,...):
    งานxxx
    งานyyy
    return output
``` 

ส่วนประกอบสำคัญ
* input
* process (ไม่มีไม่ได้)
* output

###Example1

In [ ]:
def grading(score):
    if score >= 80:
        grade = 'A'
    elif score >= 75:
        grade = 'B+'
    elif score >= 70:
        grade = 'B'
    elif score >= 65:
        grade = 'C+'
    elif  score >= 60:
        grade = 'C'
    elif  score >= 55:
        grade = 'D+'
    elif  score >= 50:
        grade = 'D'
    else:
        grade = 'F'
    return grade

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน  {i}  ได้เกรด  {grading(i)}')

คะแนน  49  ได้เกรด  F
คะแนน  65  ได้เกรด  C+
คะแนน  70  ได้เกรด  B
คะแนน  95  ได้เกรด  A
คะแนน  82  ได้เกรด  A
คะแนน  55  ได้เกรด  D+
คะแนน  89  ได้เกรด  A
คะแนน  20  ได้เกรด  F
คะแนน  77  ได้เกรด  B+
คะแนน  77  ได้เกรด  B+
คะแนน  81  ได้เกรด  A
คะแนน  59  ได้เกรด  D+
คะแนน  10  ได้เกรด  F

In [ ]:
def grading_list(list_score):
    grade_list = []
    for score in list_score:
        if score >= 80:
            grade = 'A'
        elif score >= 75:
            grade = 'B+'
        elif score >= 70:
            grade = 'B'
        elif score >= 65:
            grade = 'C+'
        elif  score >= 60:
            grade = 'C'
        elif  score >= 55:
            grade = 'D+'
        elif  score >= 50:
            grade = 'D'
        else:
            grade = 'F'
        grade_list.append([score,grade])
    return grade_list

In [ ]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [55, 'D+'],
 [89, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

In [ ]:
def grading2(score):
    if score >= 80:
        return 'A'
    elif score >= 75:
        return 'B+'
    elif score >= 70:
        return 'B'
    elif score >= 65:
        return 'C+'
    elif  score >= 60:
        return 'C'
    elif  score >= 55:
        return 'D+'
    elif  score >= 50:
        return 'D'
    else:
        return 'F'

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน  {i}  ได้เกรด  {grading2(i)}')

คะแนน  49  ได้เกรด  F
คะแนน  65  ได้เกรด  C+
คะแนน  70  ได้เกรด  B
คะแนน  95  ได้เกรด  A
คะแนน  82  ได้เกรด  A
คะแนน  55  ได้เกรด  D+
คะแนน  89  ได้เกรด  A
คะแนน  20  ได้เกรด  F
คะแนน  77  ได้เกรด  B+
คะแนน  77  ได้เกรด  B+
คะแนน  81  ได้เกรด  A
คะแนน  59  ได้เกรด  D+
คะแนน  10  ได้เกรด  F

###Exampl2 (ไม่มี input)

In [ ]:
def mypi():
    return 3.14

In [ ]:
r = 10
print(f'รัศมี = {r}  จะมีเส้นรอบวง =  {2*mypi()*r}')

รัศมี = 10  จะมีเส้นรอบวง =  62.800000000000004

###Example3 (ไม่มี output)

In [ ]:
def grading_nooutput(score):    
    if i >= 80:
        print (f'Grade  A')
    elif i >= 75:
        print (f'Grade  B+')
    elif i >= 70:
        print (f'Grade  B')
    elif i >= 65:
        print (f'Grade  C+')
    elif  i >= 60:
        print (f'Grade  C')
    elif  i >= 55:
        print (f'Grade  D+')
    elif  i >= 50:
        print (f'Grade  D')
    else:
        print (f'Grade  F')

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน  {i}  ',end= ' ' )
    grading_nooutput(i)

คะแนน  49   Grade  F
คะแนน  65   Grade  C+
คะแนน  70   Grade  B
คะแนน  95   Grade  A
คะแนน  82   Grade  A
คะแนน  55   Grade  D+
คะแนน  89   Grade  A
คะแนน  20   Grade  F
คะแนน  77   Grade  B+
คะแนน  77   Grade  B+
คะแนน  81   Grade  A
คะแนน  59   Grade  D+
คะแนน  10   Grade  F

###Example3 (ไม่มี input และ output)

In [ ]:
def draw_rect():
    print('===========')
    print('|         |')
    print('|         |')
    print('===========')

In [ ]:
draw_rect()
draw_rect()

===========
|         |
|         |
===========
===========
|         |
|         |
===========

###ลักษณะของ input(parameter)




*   จำเป็นต้องใส่ (non-default argument)
*   ไม่จำเป็นต้องใส่

In [ ]:
def A(input1,input2=3):
    return input1+input2

In [ ]:
A(1)

4

In [ ]:
A(1,2)

3

In [ ]:
A()

TypeError: ignored

In [ ]:
def printlove(input2='Stat',input2='Stat',input3='KKU'):
    print(f'{input1} love {input2} {input3}')

In [ ]:
printlove('Benyapa')

Benyapa love Stat KKU

In [ ]:
printlove('Benyapa','SI','Stat')

Benyapa love SI Stat

In [ ]:
printlove(input3='Benyapa',input2='SI',input1='Stat')

Stat love SI Benyapa

In [ ]:
def printlove(input2='Stat',input1,input3='KKU'):
    print(f'{input1} love {input2} {input3}')

SyntaxError: ignored

#Quiz2
สร้างฟังก์ชัน

*   วาดรูปบ้าน
*   วาดรูปต้นไม้

In [ ]:
def draw_home():
    print('          _________         ')
    print('         /\        \        ')
    print('        /  \        \        ')
    print('       /____\________\       ')
    print('       | __ |   ___  |       ')
    print('       ||  ||  |___| |        ')
    print('       ||๐ ||        |      ')
    print('       ||__||________|     ')

In [ ]:
def draw_tree():
    print('                             ')
    print('     ()()()     ()(()   ()()()    ')
    print('         ())   ()()()()    ()()() ')
    print('        ()()) ()()()()  ())()()        ')
    print('           ()()()()()()()()()       ')
    print('                 |  |       ')
    print('                 |  |        ')
    print('                 |  |      ')
    print('                / /\ \    ')

In [ ]:
draw_home()

draw_tree()

          _________
         /\        \
        /  \        \
       /____\________\
       | __ |   ___  |
       ||  ||  |___| |
       ||๐ ||        |
       ||__||________|

     ()()()     ()(()   ()()()
         ())   ()()()()    ()()()
        ()()) ()()()()  ())()()
           ()()()()()()()()()
                 |  |
                 |  |
                 |  |
                / /\ \