<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdowm

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า Dataframe

In [11]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [12]:
import pandas as pd # เหมือนข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [13]:
data_df = pd.read_csv('data.csv') # ใช้เรียก ไฟล์ data.csv แทนในตัวแปร data_df

In [14]:
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [15]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [16]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [17]:
variable_a

12

In [18]:
variable_b

'abcde'

In [19]:
variable_c

12

In [20]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [21]:
# (พยายาม)ใช้ภาษาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [22]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
V_a = 2 
print(v_a)
print(V_a)

1
2

In [23]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1 
v_a = 2 
print(v_a)
print(v_a)

2
2

In [24]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [25]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [26]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1 
print(variable1)

1

In [27]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # "   เรียกว่า double quote

In [28]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [29]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

#Casting
## Casting int() float() str()

In [30]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [31]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [32]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + V_X

In [ ]:
V_X

In [ ]:
float(V_X)

#Data Structure
##list()

In [33]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [34]:
list_a # ลำดับมีความสำคัญ

[1, 2, 0.2, 'abs']

In [35]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [36]:
len(list_b)

4

In [37]:
list_b[3]

[1, 2, 0.0]

In [38]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [39]:
a = 'Stat KKU'

In [40]:
a[4]

' '

##วิธีการสร้า list ว่าง

In [41]:
list_c = list() # แบบที่ 1
list_d = []     # แบบที่ 2

In [42]:
list_c

[]

In [43]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [44]:
list_d.append('a')

In [45]:
list_d

['a']

In [46]:
list_d.append(56)

In [47]:
list_d

['a', 56]

###การชึ้ต่าใน list (indexing)

1. ใช้ลำดับเลขในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังโดยใช้ negative index

In [48]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [49]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [50]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง] 

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง] -> [ตัวหน้ามตัวหลัง)

In [51]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [52]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [53]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [54]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [55]:
list_ex[::-1] #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [56]:
a

'Stat KKU'

In [57]:
a[5:]

'KKU'

In [58]:
a[-3:]

'KKU'

In [59]:
a[5:8]

'KKU'

##list + list

In [60]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [61]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [62]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

#Loop

การทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent
```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something #in_loop
    do another thing #in_loop

do other things#out side loop
```

In [63]:
 for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [64]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [65]:
list5 = [1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [68]:
for i in range(2,7,2):
  print(i)

2
4
6

In [69]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [70]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i = {i} x = {x}')

hahaha
i = 0 x = 3
hahaha
i = 1 x = 4
hahaha
i = 2 x = 5
hahaha
i = 3 x = 6
hahaha
i = 4 x = 7

##Nested loop

In [71]:
for i in range(3):
  print(f'now i = {i}')
  print(f'start j loop')
  for j in range(4):
       print(f'i = {i} j = {j} i + j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i + j = 0
i = 0 j = 1 i + j = 1
i = 0 j = 2 i + j = 2
i = 0 j = 3 i + j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i + j = 1
i = 1 j = 1 i + j = 2
i = 1 j = 2 i + j = 3
i = 1 j = 3 i + j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i + j = 2
i = 2 j = 1 i + j = 3
i = 2 j = 2 i + j = 4
i = 2 j = 3 i + j = 5
end j loop

#Condition (if statement)



```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [72]:
stringx = 'hsgfhjsgfdgvsghfuyffhdrujkytdfghjgfhdgchj'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 Characters')

hsgfhjsgfdgvsghfuyffhdrujkytdfghjgfhdgchj is longer than 30 Characters

In [73]:
stringx = 'hsgfhjsgfdgvsghfghjgfhdgchj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 Characters')

```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขด้านบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [74]:
stringx = 'hsgfhjsgfdgvsghfghjgfhdgchj'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 Characters')
else: 
  print(f'{stringx} is {len(stringx)} Characters long')

hsgfhjsgfdgvsghfghjgfhdgchj is 27 Characters long

```python
if เงื่อนไขที่จะตรวจสอบ (==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขด้านบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [75]:
password = '12345'

input_pass = '123'
if input_pass == password:
   print('Welcome!')
elif len(input_pass) > len(password):
   print('Too long, try again!')
elif len(input_pass) < len(password):
   print('Too short, try again!')
else:
   print('Wrong password, try again!')

Too short, try again!

#Quiz 1 หา Min

In [76]:
list_ex = [1,5,9,-19,-2,0] #หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [77]:
if list_ex[i] < list_ex[j]:
    print(f'Min is {list_ex[i]}')
else:
    print(f'Min is {list_ex[j]}')

Min is -19

#เฉลย

In [78]:
min = 10000000

for i in list_ex:
  if i < min:
    min = i 
print(min)

-19

In [79]:
min = 10000000
print(list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min}')
  if i < min:
    print(f'i<min, update min -> {i}')
    min = i 
  else:
    print('not update')
  print('end condition, go to nexy i')
print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 10000000
i<min, update min -> 1
end condition, go to nexy i
now i = 5, min = 1
not update
end condition, go to nexy i
now i = 9, min = 1
not update
end condition, go to nexy i
now i = -19, min = 1
i<min, update min -> -19
end condition, go to nexy i
now i = -2, min = -19
not update
end condition, go to nexy i
now i = 0, min = -19
not update
end condition, go to nexy i
-19

#HW3 ตัดเกรด

In [94]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [100]:
print(score)
for i in score:
    if i >= 80:
        print (f'Score is   {i}   Grad  A')
    elif i >= 75:
        print (f'Score is   {i}   Grad  B+')
    elif i >= 70:
        print (f'Score is   {i}   Grad  B')
    elif i >= 65:
        print (f'Score is   {i}   Grad  C+')
    elif  i >= 60:
        print (f'Score is   {i}   Grad  C')
    elif  i >= 55:
        print (f'Score is   {i}   Grad  D+')
    elif  i >= 50:
        print (f'Score is   {i}   Grad  D')
    else:
        print (f'Score is   {i}   Grad  F')

[49, 65, 70, 95, 82, 55, 89, 20, 77, 77, 81, 59, 10]
Score is   49   Grad  F
Score is   65   Grad  C+
Score is   70   Grad  B
Score is   95   Grad  A
Score is   82   Grad  A
Score is   55   Grad  D+
Score is   89   Grad  A
Score is   20   Grad  F
Score is   77   Grad  B+
Score is   77   Grad  B+
Score is   81   Grad  A
Score is   59   Grad  D+
Score is   10   Grad  F