<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...) 

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [5]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [6]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [8]:
gen_exams('623020527-6')

รหัสนักศึกษา 623020527-6 ทำข้อ 0 และ 5

##เชื่อมตาราง

In [32]:
flights_airports = flights.merge(airports,how='left',left_on='รหัสสนามบินปลายทาง',right_on='รหัสสนามบิน') #รวมตาราง flights และ airports
flights_airports

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

In [33]:
flights_airports.dropna() #ดู missing

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

#0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [34]:
flights_airports[['รหัสสนามบินปลายทาง','รัฐ']] #ดูรหัสสนามบินปลายทางและรัฐ

         รหัสสนามบินปลายทาง รัฐ
0                     13303  FL
1                     12478  NY
2                     14869  UT
3                     11433  MI
4                     12892  CA
...                     ...  ..
2702213               14869  UT
2702214               13495  LA
2702215               10397  GA
2702216               13244  TN
2702217               13487  MN

[2702218 rows x 2 columns]

In [50]:
Top_import = flights_airports.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) #หารัฐที่มีขาเข้ามากที่สุด
Top_import.iloc[:1,4:5]

     รหัสสนามบินปลายทาง
รัฐ
CA               380429

###รัฐ CA มีจำนวนเครื่องบินขาเข้ามากที่สุด

In [52]:
Lowest_import = flights_airports.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=True) #หารัฐที่มีขาเข้าน้อยที่สุด
Lowest_import.iloc[:1,4:5]

     รหัสสนามบินปลายทาง
รัฐ
AK                 7711

###รัฐ AK มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

#5. วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

In [55]:
flights_airports[['รหัสสนามบินปลายทาง','วันในสัปดาห์']] #ดูรหัสสนามบินปลายทางและวันในสัปดาห์

         รหัสสนามบินปลายทาง  วันในสัปดาห์
0                     13303             5
1                     12478             5
2                     14869             5
3                     11433             5
4                     12892             5
...                     ...           ...
2702213               14869             6
2702214               13495             6
2702215               10397             6
2702216               13244             6
2702217               13487             6

[2702218 rows x 2 columns]

In [94]:
week = flights_airports.groupby('วันในสัปดาห์').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) #ดูจำนวนเครื่องบินขาเข้าในแต่ละวัน
week.iloc[:,3:4]

              รหัสสนามบินปลายทาง
วันในสัปดาห์
1                         407837
4                         406563
3                         403072
2                         397594
5                         396387
7                         372228
6                         318537

In [91]:
Weekday = week.iloc[:5,3:4].sum() #หาจำนวนเครื่องบินขาเข้าในวันธรรมดา
Weekday

รหัสสนามบินปลายทาง    2011453
dtype: int64

In [95]:
Weekend = week.iloc[5:7,3:4].sum() #หาจำนวนเครื่องบินขาเข้าในวัน เสาร์-อาทิตย์
Weekend

รหัสสนามบินปลายทาง    690765
dtype: int64

###วันธรรมดามีเครื่องบินขาเข้ามากกว่าวันเสาร์-อาทิตย์

#ชื่อสนามบินไหนมีเที่ยวบินขาออกมากที่สุดและน้อยที่สุด

In [40]:
flights_airports[['รหัสสนามบินต้นทาง','ชื่อสนามบิน']] #ดูรหัสสนามบินต้นทางและชื่อสนามบิน

         รหัสสนามบินต้นทาง                                ชื่อสนามบิน
0                    11433                        Miami International
1                    14869              John F. Kennedy International
2                    14057               Salt Lake City International
3                    15016                 Detroit Metro Wayne County
4                    11193                  Los Angeles International
...                    ...                                        ...
2702213              13204               Salt Lake City International
2702214              10397  Louis Armstrong New Orleans International
2702215              10140   Hartsfield-Jackson Atlanta International
2702216              10397                      Memphis International
2702217              10397          Minneapolis-St Paul International

[2702218 rows x 2 columns]

In [96]:
Top_export = flights_airports.groupby('ชื่อสนามบิน').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=False) #หาชื่อสนามบินที่มีเครื่องบินขาออกมากที่สุด
Top_export.iloc[:1,3:4]

                                          รหัสสนามบินต้นทาง
ชื่อสนามบิน
Hartsfield-Jackson Atlanta International             148524

###สนามบิน Hartsfield-Jackson Atlanta International	 มีเครื่องบินขาออกมากที่สุด

In [97]:
Lowest_export = flights_airports.groupby('ชื่อสนามบิน').count().sort_values(by=['รหัสสนามบินต้นทาง'],ascending=True) #หาชื่อสนามบินที่มีเครื่องบินขาออกน้อยที่สุด
Lowest_export.iloc[:1,3:4]

                                     รหัสสนามบินต้นทาง
ชื่อสนามบิน
Ted Stevens Anchorage International               7711

###สนามบิน Ted Stevens Anchorage International	 มีเครื่องบินขาออกน้อยที่สุด