<a href="https://colab.research.google.com/github/Benza1611/DWDM21/blob/main/Project_%E0%B8%A5%E0%B9%88%E0%B8%B2%E0%B8%AA%E0%B8%B8%E0%B8%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd #ส่วนของการ Import
import os

In [38]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
path = '/content/drive/My Drive/DWDM2021_Project' #กำหนด path ของโฟลเดอร์ที่ Data อยู่

##ที่มาของข้อมูลขบวนรถไฟสำหรับรับ-ส่งผู้โดยสาร

https://data.go.th/dataset/train

In [40]:
data_st = pd.read_csv(os.path.join(path,'data_station.csv')) #กำหนดตัวแปร data_st เป็นข้อมูลของสถานีรถไฟแต่ละสถานี
data_st #เรียกดูตารางของสถานีรถไฟแต่ละสถานี

      id  station_code           name  ... giveway dual_track          comment
0      1          1001        กรุงเทพ  ...       1          1              NaN
1      2          1002          ยมราช  ...       1          1              NaN
2      3          1004         สามเสน  ...       1          1              NaN
3      4          1006     ประดิพัทธ์  ...       1          1          ป.สระอิ
4      5          1007  ชุมทางบางซื่อ  ...       1          1              NaN
..   ...           ...            ...  ...     ...        ...              ...
677  678          5025       บางโทรัด  ...       0          0  ศก.สน. กม.13.82
678  679          5026      บ้านกาหลง  ...       0          0  ศก.สน. กม.15.78
679  680          5027     บ้านนาขวาง  ...       0          0  ศก.สน. กม.17.94
680  681          5028      บ้านนาโคก  ...       0          0  ศก.สน. กม.19.97
681  682          5029       เขตเมือง  ...       0          0  ศก.สน. กม.23.73

[682 rows x 18 columns]

##ที่มาของข้อมูลสถานีรับส่งผู้โดยสารการรถไฟเเห่งประเทศไทย

https://data.go.th/dataset/station

In [41]:
data_t = pd.read_csv(os.path.join(path,'data_train.csv')) #กำหนดตัวแปร data_t เป็นข้อมูลของรถไฟ
data_t #เรียกดูตาราง

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

##ที่มาของข้อมูล railstation

https://datagov.mot.go.th/dataset/train-station

In [42]:
data_rst = pd.read_csv(os.path.join(path,'railstation_new.csv')) #กำหนดตัวแปร data_rst ให้เป็นรางรถไฟ
data_rst #เรียกดูตารางของรางรถไฟ

FileNotFoundError: ignored

##ที่มาของข้อมูลชื่อตำบล อำเภอ และจังหวัด

https://www.bot.or.th/Thai/Statistics/DataManagementSystem/TempClose/FI_FM1/Code/DocLib_StandardCodeMapping/Location_Postal%20Code.xls

In [43]:
data_location = pd.read_csv(os.path.join(path,'Location_Postal_Code.csv')) ## นำเข้าข้อมูลชื่อตำบล อำเภอ และจังหวัด
data_location

      Location Code   จังหวัด  ... รหัสไปรษณีย์ หมายเหตุ
0            100101   กรุงเทพ  ...        10200      NaN
1            100102   กรุงเทพ  ...        10200      NaN
2            100103   กรุงเทพ  ...        10200      NaN
3            100104   กรุงเทพ  ...        10200      NaN
4            100105   กรุงเทพ  ...        10200      NaN
...             ...       ...  ...          ...      ...
7421         961203  นราธิวาส  ...        96220      NaN
7422         961204  นราธิวาส  ...        96220      NaN
7423         961301  นราธิวาส  ...        96130      NaN
7424         961302  นราธิวาส  ...        96130      NaN
7425         961303  นราธิวาส  ...        96130      NaN

[7426 rows x 6 columns]

###ทำการเชื่อม 2 ตารางด้วยการ merge

In [44]:
merged_data_t_data_st = data_st.merge(data_t,how='right',left_on='station_code',right_on='StFinal') #ทำการเชื่อมตาราง 2 ตาราง คือ 1.ข้อมูลของสถานีรถไฟแต่ละสถานี 2.ข้อมูลของรถไฟ
merged_data_t_data_st #เรียกตารางที่เชื่อมกัน 2 ตารางข้างต้น

      id  station_code  ...            NameStEng_L Service
0    331          3047  ...       Ban Plu Ta Luang   False
1    331          3047  ...       Ban Plu Ta Luang   False
2      5          1007  ...      Bang Sue Junction    True
3      5          1007  ...      Bang Sue Junction    True
4    307          3015  ...              Hua Takhe   False
..   ...           ...  ...                    ...     ...
229  442          4089  ...              Rachaburi   False
230  535          4238  ...     Khiri Ratthanikhom   False
231  501          4186  ...               Chumphon   False
232  595          4325  ...            Phatthalung   False
233  394          4020  ...  Nong Pla Duk Junction   False

[234 rows x 30 columns]

###ทำการเชื่อม 3 ตารางเข้าด้วยกัน

In [45]:
merged_3_tables =merged_data_t_data_st.merge(data_rst,how='left',left_on='NameSt_L',right_on='NAMET') #ทำเชื่อมตารางระหว่าง 1.ตารางของรางรถไฟและตารางสถานีรถไฟแต่ละสถานี 2.ตารางรางรถไฟ
merged_3_tables #เรียกดูตารางที่เชื่อมกันทั้ง 3 ตาราง

      id  station_code              name  ...      TamName           X          Y
0    331          3047     บ้านพลูตาหลวง  ...               100.972127  12.705959
1    331          3047     บ้านพลูตาหลวง  ...               100.972127  12.705959
2      5          1007     ชุมทางบางซื่อ  ...     BANG SUE  100.539150  13.801880
3      5          1007     ชุมทางบางซื่อ  ...     BANG SUE  100.539150  13.801880
4    307          3015          หัวตะเข้  ...  LAT KRABANG  100.783373  13.728363
..   ...           ...               ...  ...          ...         ...        ...
229  442          4089           ราชบุรี  ...    NA MUEANG   99.823848  13.530993
230  535          4238       คีรีรัฐนิคม  ...                98.947169   9.031225
231  501          4186             ชุมพร  ...   THA TAPHAO   99.175901  10.502983
232  595          4325            พัทลุง  ...  KHUHA SAWAN  100.085526   7.621134
233  394          4020  ชุมทางหนองปลาดุก  ...                99.911118  13.817960

[234 rows x 38 columns]

###ทำการเชื่อมตารางทั้งหมดเข้าด้วยกัน

In [10]:
merged_4_tables =merged_3_tables.merge(data_location,how='left',left_on='AmpName',right_on='เขต/อำเภอ') #ทำเชื่อมตารางระหว่าง 1.ตารางของรถไฟ ตารางสถานีรถไฟแต่ละสถานีและตารางรางรถไฟ
merged_4_tables #เรียกดูตารางที่เชื่อมกันทั้ง 3 ตาราง

      id  station_code              name  ... แขวง/ตำบล รหัสไปรษณีย์ หมายเหตุ
0    331          3047     บ้านพลูตาหลวง  ...       NaN          NaN      NaN
1    331          3047     บ้านพลูตาหลวง  ...       NaN          NaN      NaN
2      5          1007     ชุมทางบางซื่อ  ...       NaN          NaN      NaN
3      5          1007     ชุมทางบางซื่อ  ...       NaN          NaN      NaN
4    307          3015          หัวตะเข้  ...       NaN          NaN      NaN
..   ...           ...               ...  ...       ...          ...      ...
229  442          4089           ราชบุรี  ...       NaN          NaN      NaN
230  535          4238       คีรีรัฐนิคม  ...       NaN          NaN      NaN
231  501          4186             ชุมพร  ...       NaN          NaN      NaN
232  595          4325            พัทลุง  ...       NaN          NaN      NaN
233  394          4020  ชุมทางหนองปลาดุก  ...       NaN          NaN      NaN

[234 rows x 44 columns]

In [11]:
merged_3_tables.isnull().any() #เช็คดู missing ของตารางที่เชื่อมกันทั้ง 3 ตาราง

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
OBJECTID            True
NAMET               True
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
dtype: bool

##กำจัดค่า Missing

In [12]:
# หา mode
merged_3_tables_Nomissing =merged_3_tables[['NAMET']].mode()
# เติม mode ลงไปแทนค่า missing
merged_3_tables[['NAMET']] = merged_3_tables[['NAMET']].fillna('NAMET')

In [13]:
merged_3_tables.isnull().any() #เช็ดดู missing ของตารางที่เชื่อมกันทั้ง 3 ตาราง อีกรอบ

id                 False
station_code       False
name               False
en_name            False
th_short           False
en_short           False
chname             False
controldivision    False
exact_km           False
exact_distance     False
km                 False
class              False
lat                False
long               False
active             False
giveway            False
dual_track         False
comment             True
Zone               False
goback             False
Num                False
IdTrain            False
NameFee            False
StStart            False
NameSt             False
StFinal            False
NameSt_L           False
NameStEng          False
NameStEng_L        False
Service            False
OBJECTID            True
NAMET              False
NAMEE               True
ProvName            True
AmpName             True
TamName             True
X                   True
Y                   True
dtype: bool

In [14]:
merged_3_tables #เรียกดูตารางเชื่อมกันทั้ง 3 ตาราง ที่ถูกกำจัด missing แล้ว

      id  station_code              name  ...      TamName           X          Y
0    331          3047     บ้านพลูตาหลวง  ...               100.972127  12.705959
1    331          3047     บ้านพลูตาหลวง  ...               100.972127  12.705959
2      5          1007     ชุมทางบางซื่อ  ...     BANG SUE  100.539150  13.801880
3      5          1007     ชุมทางบางซื่อ  ...     BANG SUE  100.539150  13.801880
4    307          3015          หัวตะเข้  ...  LAT KRABANG  100.783373  13.728363
..   ...           ...               ...  ...          ...         ...        ...
229  442          4089           ราชบุรี  ...    NA MUEANG   99.823848  13.530993
230  535          4238       คีรีรัฐนิคม  ...                98.947169   9.031225
231  501          4186             ชุมพร  ...   THA TAPHAO   99.175901  10.502983
232  595          4325            พัทลุง  ...  KHUHA SAWAN  100.085526   7.621134
233  394          4020  ชุมทางหนองปลาดุก  ...                99.911118  13.817960

[234 rows x 38 columns]

##นำข้อมูลใหม่เข้า

##Merged เพิ่ม

In [15]:
data_st ##เรียกดูตารางสถานีรถไฟ

      id  station_code           name  ... giveway dual_track          comment
0      1          1001        กรุงเทพ  ...       1          1              NaN
1      2          1002          ยมราช  ...       1          1              NaN
2      3          1004         สามเสน  ...       1          1              NaN
3      4          1006     ประดิพัทธ์  ...       1          1          ป.สระอิ
4      5          1007  ชุมทางบางซื่อ  ...       1          1              NaN
..   ...           ...            ...  ...     ...        ...              ...
677  678          5025       บางโทรัด  ...       0          0  ศก.สน. กม.13.82
678  679          5026      บ้านกาหลง  ...       0          0  ศก.สน. กม.15.78
679  680          5027     บ้านนาขวาง  ...       0          0  ศก.สน. กม.17.94
680  681          5028      บ้านนาโคก  ...       0          0  ศก.สน. กม.19.97
681  682          5029       เขตเมือง  ...       0          0  ศก.สน. กม.23.73

[682 rows x 18 columns]

In [16]:
data_t ##เรียกดูตารางรถไฟ

     Zone  goback   Num  ...            NameStEng            NameStEng_L  Service
0       1       1   0.0  ...              Bangkok       Ban Plu Ta Luang    False
1       1       1   1.0  ...              Bangkok      Bang Sue Junction     True
2       1       1   1.0  ...             Makkasan              Hua Takhe    False
3       1       1   2.0  ...              Bangkok      Bang Sue Junction     True
4       1       1   4.0  ...              Bangkok       Ban Plu Ta Luang    False
..    ...     ...   ...  ...                  ...                    ...      ...
229     5       2  26.0  ...              Nam Tok              Thon Buri    False
230     5       2  27.0  ...  Prachuap Khiri Khan              Thon Buri    False
231     5       2  28.0  ...            Lang Suan              Thon Buri    False
232     5       2  29.0  ...              Nam Tok              Thon Buri    False
233     5       2  30.0  ...              Nam Tok  Nong Pla Duk Junction    False

[234 rows x 12 columns]

In [17]:
data_rst ##เรียกดูตารางรางรถไฟ

     OBJECTID                      NAMET  ...           X          Y
0           1               บ้านเกาะปริง  ...   99.644994   8.213274
1           2                    ห้วยยอด  ...   99.637987   7.785456
2           3            โรงเรียนการบิน   ...   99.956660  14.088246
3           4                บ้านปลักแรด  ...  100.725785  14.530267
4           5                    เด่นชัย  ...  100.046225  17.980781
..        ...                        ...  ...         ...        ...
677       678  ศูนย์ราชการจังหวัดสระแก้ว  ...  102.138802  13.799641
678       679                    ทุ่งทอง  ...   99.638000  13.980168
679       680                ตลาดหนองคาย  ...  102.725416  17.878784
680       681               แกรนด์ คาแนล  ...  100.608267  13.941516
681       682                   หัวลำโพง  ...  100.516732  13.744026

[682 rows x 8 columns]

In [18]:
data_rst.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11'], axis='columns', inplace=True) ## ทำการตัด Column ที่ไม่ได้ใช้ออก ได้แก่ 'Unnamed: 9', 'Unnamed: 10' และ 'Unnamed: 11'
data_rst ##เรียกดูตารางรางรถไฟ

KeyError: ignored

In [ ]:
data_location ##เรียกดูตารางที่ตั้ง

In [ ]:
merged_4_tables_new = merged_3_tables.merge(data_location,how='left',left_on='NAMET',right_on='แขวง/ตำบล') ##เชื่อมตารางที่ตั้งเพิ่มเข้าไป ที่เชื่อมด้วยคีย์ NAMET กับ แขวง/ตำบล

In [ ]:
merged_4_tables_new ##เรียกดูตารางใหม่

In [ ]:
merged_4_tables = merged_4_tables_new.merge(data_location,how='left',left_on='NAMET',right_on='จังหวัด')  ##ทำการเชื่อมตารางอีกรอบ โดยใช้คีย์ NAMET กับ จังหวัด เนื่องจาก NAMET ตรงกับชื่อจังหวัด แต่ตอนที่เชื่อมตารางก่อนหน้า ถูกเชื่อมด้วย แขวง/ตำบล

In [ ]:
merged_4_tables

In [ ]:
merged_4_tables.isnull().sum()  ## เช็ค missing

In [ ]:
merged_4_tables.drop(['ProvName', 'AmpName','TamName'], axis='columns', inplace=True) ## ทำการตัด Column ที่ไม่ได้ใช้ออก ได้แก่ 'ProvName', 'AmpName' และ 'TamName'

In [ ]:
merged_4_tables ## เรียกดูตารางที่ถูกแก้ล่าสุด

In [ ]:
t = merged_4_tables.groupby(['class','NAMET']) ## ทำการแบ่งกลุ่ม class และ รวม NAMET เข้าไปในแต่ละ class 
t.first()

#ตารางที่ใช้ในการดู challenge